:root {
  --text100White:      #ffffff;
  --text100Black:      black;
  --background80Red:   #ff0040;
  --background100:  #ffffff;
  --background60:  #808080;
  --background70: #f5f5f5;
  --color80:      #707c8b;
  --color60:     #f3f3f4;

}
